
.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a0d2eb; 
  font-family: 'Space Grotesk', 'Noto Sans', sans-serif;
  position: relative;
}


.poster {
  position: relative;
}


.poster-image {
  width: 1000px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2; 
  position: relative;
  transition: z-index 0.3s ease-in-out;
}


.go-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; 
  opacity: 1; 
  background-color: #090979; 
  color: white;
  border: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
}


.go-button:hover {
  background-color: #073e7d; 
}
